<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework/schema/p" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- more bean definitions for services go here -->
	<!-- <bean class="com.first.springCore.Student" name="sahid">
		<property name="roll">
			<value>123</value>
		</property>
		<property name="name">
			<value>Sahid</value>
		</property>
		<property name="address">
			<value>Pune</value>
		</property>
	</bean> -->
	
	<bean class="com.first.springCore.Student" name="sonu">
		<property name="roll" value="124" />
		<property name="name" value="Sonu" />
		<property name="address" value="Dholakpur" />
	</bean>
	
	<!--  <bean class="com.first.springCore.Student" name="sashi" p:roll="125" p:name="Sashi" p:address="Dholakpur"/>-->
</beans>